@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1ems;
}

:root {
 --primary-color: #9999;
 --secondary-color: #f3f3f3;
 --success: #000;
 --error: #FF0000;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  padding: 1rem;
}

.header {
  width: 100%;
  color: var(--secondary-color);
  background-color: #20368f;
  padding: 1.2rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.25ems;
}

/* Taskbar content */
.taskbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-asset {
  padding: 0.3em 1.3em;
  border: 0.15em solid var(--primary-color);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  text-align:center;
  transition: all 0.2s;
}

.add-asset:hover {
  color: var(--success);
  border: 0.15em solid var(--success);
  cursor: pointer;
  transition: all 0.2s;
}

.search-asset input {
  padding: 0.6rem;
  margin:0 0.3em 0.3em 1.8rem;
  border: 0.15em solid var(--primary-color);
  border-radius: 0.12em;
}

.search-asset input:focus {
  outline:1px solid var(--success);
}

/* Form check compenent for missing styles */
.form {
  width: 100%;
  transition: all 0.2s;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1rem;
}

.form-control label {
 margin-bottom: 0.4em;
}

.form-control input {
  padding: 0.4em;
}

.form button {
  padding: 0.6em 1.3em;
  color: #F6f6f6;
  background-color: #222;
  border: none;
  margin:1rem 0;
  border-radius:0.12em;
  text-align:center;
  transition: all 0.1s;
}

.form button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Assets */
.asset-content {
  width: 100%;
  padding: 0.3em 1.3em;
}

.asset-key {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 0.8rem;
}

.asset-content h1 {
  margin-bottom: 0.6rem;
}

.list {
  list-style-type: none;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2;
  grid-column-gap: 0.6em;
  align-items: center;
  text-align: center;
}

.list:nth-of-type(odd) {
  background-color: var(--primary-color);
}

.update {
  font-weight: bold;
  color: #20368f;
}

.update:hover {
  cursor: pointer;
}

.delete {
  color: red;
}

.delete:hover {
  cursor: pointer;
}

@media only screen and (min-width: 610px) {
  .container {
    width: 100vw;
  }

  .form {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.6rem;
    align-items: center;
  }

  .form button {
    margin-top: 40px;
    padding: 0.45rem;
  }
}